    {% load static %}
    <div class="max-w-6xl mx-auto px-6">
        <div class="relative flex items-center justify-between mx-auto">
            <div class="flex justify-start items-center space-x-4 md:space-x-0">
                <!--Hamburger Menu-->
                <button id="menuButton"
                        class="relative block rounded group cursor-pointer duration-500 h-6 w-6 md:hidden">
                    <span class="line-top absolute top-0 left-0 h-0.5 w-5 rotate-0 transition-all duration-500 bg-myNavy group-hover:bg-paleBlue"></span>
                    <span class="line-mid absolute top-0 left-0 h-0.5 w-5 rotate-0 transition-all duration-500 translate-y-2 bg-myNavy group-hover:bg-paleBlue"></span>
                    <span class="line-btm absolute top-0 left-0 h-0.5 w-5 rotate-0 transition-all duration-500 translate-y-4 bg-myNavy group-hover:bg-paleBlue"></span>
                </button>
                <!--Logo-->
                <a href="{% url 'home' %}">
                    <img class="h-16 w-auto" src="{% static 'img/dti_nc.png' %}" alt="">
                </a>
                <!--Main Navigation-->
                <div id="mainNavigation" class="hidden min-w-fit md:flex text-sm text-gray-600 font-bold">
                    <a class="{% if request.path == '/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise ml-2"
                        href="{% url 'home' %}">HOME</a>
                    <a class="{% if request.path == '/about/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'about' %}">ABOUT</a>
                    <a class="{% if request.path == '/resources/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'resources' %}">RESOURCES</a>
                    <a class="{% if request.path == '/faqs/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'faqs' %}">FAQs</a>
                    <a class="{% if request.path == '/contact/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'contact_us' %}">CONTACT US</a>
                    <a class="{% if request.path == '/assistance/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'assistance' %}">ASSISTANCE</a>
                </div>
            </div>
            {% if user.is_authenticated %}
            <!--Logout Button-->
            <a href="{% url 'user_logout' %}">
                <div class="{% if request.path == '/user_logout/' %}hidden{% endif %} flex items-center py-2 px-1 text-white font-bold bg-myNavy rounded-lg hover:bg-paleBlue lg:space-x-1 lg:px-2">
                    <p class="hidden lg:block">Logout</p>
                    <div class="lg:w-1/2">
                        <img class="h-5 w-auto lg:h-6" src="{% static 'img/logout.png' %}" alt="">
                    </div>
                </div>
            </a>
            {% else %}
            <!--Login Button-->
            <a href="{% url 'user_login' %}">
                <div class="{% if request.path == '/user_login/' %}hidden{% endif %} flex items-center py-2 px-1 text-white font-bold bg-myNavy rounded-lg hover:bg-paleBlue lg:space-x-1 lg:px-2">
                    <img class="h-5 w-auto lg:h-6" src="{% static 'img/login.png' %}" alt="">
                    <p class="hidden w-1/2 lg:block">Login</p>
                </div>
            </a>
            {% endif %}
        </div>
        
    </div>
    <div>
        <!--Mobile Navigation-->
        <div id="mobileNavigation" class="hidden transform transition-all duration-300  divide-y h-auto w-full bg-turquoise shadow flex-col justify-center text-lg font-bold text-white text-center md:hidden">
            <a class="{% if request.path == '/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                href="{% url 'home' %}">Home</a>
            <a class="{% if request.path == '/about/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto" 
                href="{% url 'about' %}">About</a>
            <a class="{% if request.path == '/assistance/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                href="{% url 'assistance'%}">Assistance</a>
            <a class="{% if request.path == '/resources/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                href="{% url 'resources' %}">Resources</a>
            <a class="{% if request.path == '/faqs/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                href="{% url 'faqs' %}">FAQs</a>
            <a class="{% if request.path == '/contact_us/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                href="{% url 'contact_us' %}">Contact Us</a>
        </div>
    </div>