    {% load static %}
    <div class="max-w-6xl mx-auto px-6">
        <div class="relative flex items-center justify-between mx-auto">
            <div class="flex justify-start items-center space-x-4">
                <!--Logo-->
                <a href="{% url 'home' %}">
                    <img class="h-16 w-auto" src="{% static 'img/dti_nc.png' %}" alt="">
                </a>
                <!--Main Navigation-->
                <div id="mainNavigation" class="hidden min-w-fit md:flex">
                    <a class="{% if request.path == '/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'home' %}">Home</a>
                    <a class="{% if request.path == '/about/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'about' %}">About</a>
                    <a class="{% if request.path == '/resources/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'resources' %}">Resources</a>
                    <a class="{% if request.path == '/faqs/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'faqs' %}">FAQs</a>
                    <a class="{% if request.path == '/contact/' %}border-b-4 border-turquoise{% endif %} px-3 py-2 hover:border-b-4 hover:border-turquoise"
                        href="{% url 'contact' %}">Contact</a>
                </div>
            </div>

            <!--Get Started Button-->
            <a id="getStartedButton" href="{% url 'assistance' %}" class="{% if request.path == '/assistance/' %}md:hidden{% endif %} hidden p-3 px-6 pt-2 text-white font-bold whitespace-nowrap bg-myNavy rounded-full hover:bg-paleBlue md:block">
                Get started
            </a>

            <!--Menu Icon-->
            <div id="menuButton" onclick="toggleAltNavigation()" class="group cursor-pointer flex flex-col justify-center items-center space-y-1 md:hidden">
                <span class="h-1 w-6 rounded bg-myNavy group-hover:bg-paleBlue"></span>
                <span class="h-1 w-6 rounded bg-myNavy group-hover:bg-paleBlue"></span>
                <span class="h-1 w-6 rounded bg-myNavy group-hover:bg-paleBlue"></span>
            </div>

            <!--Alt Navigation-->
            <div id="altNavigation" class="hidden absolute divide-y top-5 right-8 h-auto w-48 bg-turquoise shadow flex-col justify-center rounded-lg text-lg font-bold text-white text-center md:hidden">
                <a class="{% if request.path == '/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                    href="{% url 'home' %}">Home</a>
                <a class="{% if request.path == '/about/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto" 
                    href="{% url 'about' %}">About</a>
                <a class="{% if request.path == '/assistance/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                    href="{% url 'assistance'%}">Assistance</a>
                <a class="{% if request.path == '/resources/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                    href="{% url 'resources' %}">Resources</a>
                <a class="{% if request.path == '/about/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                    href="{% url 'faqs' %}">FAQs</a>
                <a class="{% if request.path == '/contact/' %}rounded-md bg-skyBlue{% endif %} px-2 py-1 hover:rounded-md hover:bg-skyBlue min-w-full mx-auto"
                    href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
    </div>