{% extends "base.html" %}
{% load static %}

{% block pageContent %}
   <section id="">
        <div class="items-center max-w-4xl mx-auto px-6 my-12 space-x-0 lg:items-start lg:max-w-6xl">
            <!--Heading-->
            <h1 class="text-4xl font-bold lg:text-5xl">Assistance - 
                <span class="text-myNavy">Business Advisory</span>
            </h1>  

            <div class="max-w-6xl mt-8 space-y-6">
                <h2 class="text-4xl font-bold text-myNavy px-2">Tap into DTI's network of expert mentors and consultants.</h2>
                <p class="text-justify text-lg px-4">
                    Mentorship is a priceless asset for business growth. Gain insights from experienced professionals to accelerate progress, implement proven strategies, and evade costly errors in crucial areas of your business.</p>
                <button class="font-bold text-sm rounded py-2 px-4 bg-turquoise text-white hover:bg-skyBlue" type="submit">
                        ADD FILTER</button>
            </div>

            <div class="container bg-gray-100 flex flex-col mt-8 items-center space-y-2">
                <div class="flex flex-col items-center space-x-3 lg:flex-row">
                    <div class="bg-white shadow space-y-2 lg:w-1/4">
                        <img src="{% static 'img/mentors/mentor1.jpg' %}" alt="">
                        <div class=" text-lg font-bold text-center">
                            <p class="">Ethan Bennett</p>
                            <p class="text-center">Financial Decision Mentor</p>
                        </div>
                        <div class="h-auto w-10 mx-auto pb-2">
                            <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bg-white shadow space-y-2 lg:w-1/4">
                        <img src="{% static 'img/mentors/mentor2.jpg' %}" alt="">
                        <div class=" text-lg font-bold text-center">
                            <p class="">Ethan Bennett</p>
                            <p class="text-center">Financial Decision Mentor</p>
                        </div>
                        <div class="h-auto w-10 mx-auto pb-2">
                            <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bg-white shadow space-y-2 lg:w-1/4">
                        <img src="{% static 'img/mentors/mentor3.jpg' %}" alt="">
                        <div class=" text-lg font-bold text-center">
                            <p class="">Ethan Bennett</p>
                            <p class="text-center">Financial Decision Mentor</p>
                        </div>
                        <div class="h-auto w-10 mx-auto pb-2">
                            <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bg-white shadow space-y-2 lg:w-1/4">
                        <img src="{% static 'img/mentors/mentor4.jpg' %}" alt="">
                        <div class=" text-lg font-bold text-center">
                            <p class="">Ethan Bennett</p>
                            <p class="text-center">Financial Decision Mentor</p>
                        </div>
                        <div class="h-auto w-10 mx-auto pb-2">
                            <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                        </div>
                    </div>
                </div>

                <div class="flex flex-col items-center space-x-3 lg:flex-row">
                    <div class="bg-white shadow space-y-2 lg:w-1/4">
                        <img src="{% static 'img/mentors/mentor1.jpg' %}" alt="">
                        <div class=" text-lg font-bold text-center">
                            <p class="">Ethan Bennett</p>
                            <p class="text-center">Financial Decision Mentor</p>
                        </div>
                        <div class="h-auto w-10 mx-auto pb-2">
                            <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bg-white shadow space-y-2 lg:w-1/4">
                        <img src="{% static 'img/mentors/mentor2.jpg' %}" alt="">
                        <div class=" text-lg font-bold text-center">
                            <p class="">Ethan Bennett</p>
                            <p class="text-center">Financial Decision Mentor</p>
                        </div>
                        <div class="h-auto w-10 mx-auto pb-2">
                            <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bg-white shadow space-y-2 lg:w-1/4">
                        <img src="{% static 'img/mentors/mentor3.jpg' %}" alt="">
                        <div class=" text-lg font-bold text-center">
                            <p class="">Ethan Bennett</p>
                            <p class="text-center">Financial Decision Mentor</p>
                        </div>
                        <div class="h-auto w-10 mx-auto pb-2">
                            <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bg-white shadow space-y-2 lg:w-1/4">
                        <img src="{% static 'img/mentors/mentor4.jpg' %}" alt="">
                        <div class=" text-lg font-bold text-center">
                            <p class="">Ethan Bennett</p>
                            <p class="text-center">Financial Decision Mentor</p>
                        </div>
                        <div class="h-auto w-10 mx-auto pb-2">
                            <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
{% endblock pageContent %}