{% extends "base.html" %}
{% load static %}

{% block pageContent %}
   <section id="">
        <div class="items-center max-w-4xl mx-auto px-6 my-12 space-x-0 lg:items-start lg:max-w-6xl">
            <!--Heading-->
            <h1 class="text-4xl font-bold lg:text-5xl">Assistance - 
                <span class="text-myNavy">Business Advisory</span>
            </h1>  

            <div class="max-w-6xl mt-8 space-y-6">
                <h2 class="text-4xl font-bold text-myNavy px-2">Tap into DTI's network of expert mentors and consultants.</h2>
                <p class="text-justify text-lg px-4">
                    Mentorship is a priceless asset for business growth. Gain insights from experienced professionals to accelerate progress, implement proven strategies, and evade costly errors in crucial areas of your business.</p>
                <button class="font-bold text-sm rounded py-2 px-4 bg-turquoise text-white hover:bg-skyBlue" type="submit">
                        ADD FILTER</button>
            </div>

            <div class="container bg-gray-100 flex flex-col mt-8 items-center mx-auto space-x-0 space-y-3 lg:space-x-3 lg:space-y-0 lg:flex-row">
                <div class="flex flex-col items-center space-y-3 lg:w-1/2">
                    <div class="flex flex-col items-center space-y-3 space-x-0 md:space-y-0 md:space-x-3 md:flex-row">
                        {% for expert in experts %}
                        <div class="bg-white shadow space-y-2">
                            <a href="">
                                <img src="{{expert.image.url}}" alt="">
                            </a>
                            <div class=" text-lg text-center">
                                <p class="font-bold">{{ expert.name }}</p>
                                <p class="text-center">{{ expert.position }}</p>
                            </div>
                            <div class="h-auto w-10 mx-auto pb-2">
                                <a href="mailto:{{expert.email}}">
                                    <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                    <div class="flex flex-col items-center space-y-3 space-x-0 md:space-y-0 md:space-x-3 md:flex-row">
                        <div class="bg-white shadow space-y-2">
                            <a href="">
                                <img src="{% static 'img/mentors/mentor3.jpg' %}" alt="">
                            </a>
                            <div class=" text-lg text-center">
                                <p class="font-bold">Patricia Dela Cruz</p>
                                <p class="text-center">Financial Decision Mentor</p>
                            </div>
                            <div class="h-auto w-10 mx-auto pb-2">
                                <a href=""mailto:example@gmail.com>
                                    <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="bg-white shadow space-y-2">
                            <a href="">
                                <img src="{% static 'img/mentors/mentor4.jpg' %}" alt="">
                            </a>
                            <div class=" text-lg text-center">
                                <p class="font-bold">Prof. Isabella Martinez</p>
                                <p class="text-center">Marketing Strategy Mentor</p>
                            </div>
                            <div class="h-auto w-10 mx-auto pb-2">
                                <a href=""mailto:example@gmail.com>
                                    <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col items-center space-y-3 lg:w-1/2">
                    <div class="flex flex-col items-center space-y-3 space-x-0 md:space-y-0 md:space-x-3 md:flex-row">
                        <div class="bg-white shadow space-y-2">
                            <a href="">
                                <img src="{% static 'img/mentors/mentor5.jpg' %}" alt="">
                            </a>
                            <div class=" text-lg text-center">
                                <p class="font-bold">Christine Reyes</p>
                                <p class="text-center">Corporate Strategy Mentor</p>
                            </div>
                            <div class="h-auto w-10 mx-auto pb-2">
                                <a href=""mailto:example@gmail.com>
                                    <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="bg-white shadow space-y-2">
                            <a href="">
                                <img src="{% static 'img/mentors/mentor6.jpg' %}" alt="">
                            </a>
                            <div class=" text-lg text-center">
                                <p class="font-bold">Angela Lim</p>
                                <p class="text-center">CEO / President</p>
                            </div>
                            <div class="h-auto w-10 mx-auto pb-2">
                                <a hremailto:example@gmail.comf="">
                                    <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col items-center space-y-3 space-x-0 md:space-y-0 md:space-x-3 md:flex-row">
                        <div class="bg-white shadow space-y-2">
                            <a href="">
                                <img src="{% static 'img/mentors/mentor7.jpg' %}" alt="">
                            </a>
                            <div class=" text-lg text-center">
                                <p class="font-bold">Sofia Lopez</p>
                                <p class="text-center">Program Director</p>
                            </div>
                            <div class="h-auto w-10 mx-auto pb-2">
                                <a hrefmailto:example@gmail.com="">
                                    <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="bg-white shadow space-y-2">
                            <a href="">
                                <img src="{% static 'img/mentors/mentor8.jpg' %}" alt="">
                            </a>
                            <div class=" text-lg text-center">
                                <p class="font-bold">Dr. Alejandro Cruz</p>
                                <p class="text-center">Financial Decision Mentor</p>
                            </div>
                            <div class="h-auto w-10 mx-auto pb-2">
                                <a href=""mailto:example@gmail.com>
                                    <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>  
    </section>
{% endblock pageContent %}