{% extends "base.html" %}
{% load static %}

{% block pageContent %}
    <!--Assistance-->
    <section id="">
        <div class="items-center max-w-4xl mx-auto px-6 my-12 space-x-0 lg:items-start lg:max-w-6xl">
            <!--Heading-->
            <h1 class="text-4xl font-bold lg:text-5xl">Assistance</h1>
            <div class="container flex flex-col justify-center mx-auto mt-8 space-x-0 space-y-8 lg:mt-12 lg:space-y-0 lg:space-x-16 lg:flex-row">
                <div class="flex flex-col items-center space-y-8">
                    <a href="{% url 'business_registration' %}">
                        <div class="group bg-gray-100 rounded-xl shadow">
                            <h2 class="bg-myNavy group-hover:bg-paleBlue py-1 px-2 text-center text-xl text-white rounded-lg lg:text-2xl">Business Registration</h2>
                            <div class="group-hover:scale-105 flex justify-center py-2 h-auto w-80 lg:w-96">
                                <img class="h-auto w-72 lg:w-80 rounded-xl" src="https://cdn-icons-png.flaticon.com/512/3200/3200740.png" alt="">
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="group bg-gray-100 rounded-xl shadow">
                            <h2 class="bg-myNavy group-hover:bg-paleBlue py-1 px-2 text-center text-xl text-white rounded-lg lg:text-2xl">Business Advisory</h2>
                            <div class="group-hover:scale-105 flex justify-center py-2 h-auto w-80 lg:w-96">
                                <img class="h-auto w-72 lg:w-80 rounded-xl" src="https://cdn-icons-png.flaticon.com/512/1469/1469915.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="flex flex-col items-center space-y-8">
                    <a href="">
                        <div class="group bg-gray-100 rounded-xl shadow">
                            <h2 class="bg-myNavy group-hover:bg-paleBlue py-1 px-2 text-center text-xl text-white rounded-lg lg:text-2xl">Business Information</h2>
                            <div class="group-hover:scale-105 flex justify-center py-2 h-auto w-80 lg:w-96">
                                <img class="h-auto w-72 lg:w-80 rounded-xl" src="https://cdn-icons-png.flaticon.com/512/9841/9841855.png" alt="">
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="group bg-gray-100 rounded-xl shadow">
                            <h2 class="bg-myNavy group-hover:bg-paleBlue py-1 px-2 text-center text-xl text-white rounded-lg lg:text-2xl">Monitoring and Evaluation</h2>
                            <div class="group-hover:scale-105 flex justify-center py-2 h-auto w-80 lg:w-96">
                                <img class="h-auto w-72 lg:w-80 rounded-xl" src="https://cdn-icons-png.flaticon.com/512/9841/9841872.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>  
        </div>  
    </section>
{% endblock pageContent %}