{% extends "base.html" %}
{% load static %}

{% block pageContent %}
    <!--Assistance-->
    <section id="">
        <div class="items-center max-w-4xl mx-auto px-6 my-12 space-x-0 lg:items-start lg:max-w-6xl">
            <!--Heading-->
            <h1 class="text-4xl font-bold text-gray-900 lg:text-5xl">Assistance</h1>
            <div class="container flex flex-col justify-center mx-auto mt-8 space-x-0 space-y-8 md:mt-12 md:space-y-0 md:space-x-16 md:flex-row">
                <div class="flex flex-col items-center space-y-8">
                    <a href="{% url 'registration' %}">
                        <div class="group border rounded-xl shadow-xl">
                            <h2 class="bg-myNavy group-hover:bg-paleBlue py-2 px-4 text-center text-xl text-white rounded-lg lg:text-2xl font-bold">Business Registration</h2>
                            <div class="group-hover:scale-105 flex justify-center py-2 h-auto w-80 lg:w-96">
                                <img class="h-auto w-72 lg:w-80 rounded-xl" src="{% static 'img/assistance icon/business-registration.png' %}" alt="">
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'advisory' %}">
                        <div class="group border rounded-xl shadow-xl">
                            <h2 class="bg-myNavy group-hover:bg-paleBlue py-2 px-4 text-center text-xl text-white rounded-lg lg:text-2xl font-bold">Business Advisory</h2>
                            <div class="group-hover:scale-105 flex justify-center py-2 h-auto w-80 lg:w-96">
                                <img class="h-auto w-72 lg:w-80 rounded-xl" src="{% static 'img/assistance icon/business-advisory.png' %}" alt="">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="flex flex-col items-center space-y-8">
                    <a href="">
                        <div class="group border rounded-xl shadow-xl">
                            <h2 class="bg-myNavy group-hover:bg-paleBlue py-2 px-4 text-center text-xl text-white rounded-lg lg:text-2xl font-bold">Business Information</h2>
                            <div class="group-hover:scale-105 flex justify-center py-2 h-auto w-80 lg:w-96">
                                <img class="h-auto w-72 lg:w-80 rounded-xl" src="{% static 'img/assistance icon/business-information.png' %}" alt="">
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'msme_profile' %}">
                        <div class="group border rounded-xl shadow-xl">
                            <h2 class="bg-myNavy group-hover:bg-paleBlue py-2 px-4 text-center text-xl text-white rounded-lg lg:text-2xl font-bold">Monitoring and Evaluation</h2>
                            <div class="group-hover:scale-105 flex justify-center py-2 h-auto w-80 lg:w-96">
                                <img class="h-auto w-72 lg:w-80 rounded-xl" src="{% static 'img/assistance icon/monitoring-evaluation.png' %}" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>  
        </div>  
    </section>
{% endblock pageContent %}