{% load tailwind_cli %}
{% load static %}
{% comment %} {% load static tailwind_tags %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if page_title %}
        <title>{{ page_title }} | Negosyo Center Antipolo</title>
    {% else %}
        <title>Negosyo Center Antipolo</title>
    {% endif %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
	-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% tailwind_css %}
</head>

<body class="text-gray-800">
    <header class="bg-slate-100">
        {% include 'partials/navigation.html' %}
    </header>
    
    <main>
        {% block pageContent %}{% endblock pageContent %}
    </main>
    
    <footer class="border-t-2">
        {% include 'partials/footer.html' %}
    </footer>

    <script src="{% static 'js/registration.js' %}"></script>
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/advisory.js' %}"></script>
    <script src="{% static 'js/contact_us.js' %}"></script>
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/msme_profile.js' %}"></script>
    <script src="{% static 'js/faqs.js' %}"></script>

</body>
</html>

