{% extends "base.html" %}
{% load static %}
{% block pageContent %}
<section id="">
    <div class="items-center max-w-4xl mx-auto px-6 my-12 space-x-0 lg:items-start lg:max-w-6xl">
        <!--Heading-->
        <h1 class="text-4xl font-bold lg:text-5xl">Expert Mentors and Consultants</h1>             
          
        <div class="mx-auto mt-8">
            <div class="flex flex-col justify-between gap-4 lg:flex-row">
                <!--Left Items-->
                <div class="lg:w-2/5">
                    <div class="flex flex-col text-center space-y-2 bg-white shadow ">
                        <div class="">
                            <img src="{{mentors.image.url}}" alt="">
                        </div>
                        <div class="h-auto w-10 mx-auto pb-2">
                            <a href="mailto:{{mentors.email}}">
                                <img src="{% static 'img/contacts/email-mentor.png' %}" alt="">
                            </a>
                        </div>
                        <div class="text-lg space-y-2">
                            {% if mentors.availability %}
                            <p class="font-bold">AVAILABILITY</p>
                            <p class="">{{mentors.availability}}</p>
                            {% else %} {% endif %}
                            <p>To book an appointment, email us at r04a.rizal@dti.gov.ph</p>
                        </div>
                    </div>
                </div>

                <!--Right Items-->
                <div class="flex flex-col text-lg items-start px-4 space-y-6 lg:w-3/5">
                    <div class="space-y-2">
                        <h2 class="text-4xl font-bold text-myNavy">{{mentors.name}}</h2>
                        <p class="text-2xl">{{mentors.position}}</p>
                        <p class="text-2xl">{{mentors.company}}</p>
                    </div>
                    <p class="text-xl"><span class="font-bold">Specialization:</span> {{mentors.expertise}}</p>
                    {% if mentors.details.all %}
                        {% for detail in mentors.details.all %}
                        <p class="text-justify text-lg">{{detail.description}}</p>
                        {% endfor %}
                    {% else %}
                        <div class="space-y-1">
                            <h3 class="text-xl font-bold">Work Experience:</h3>
                            <ul class="list-disc pl-6">
                            {% for experience in mentors.experiences.all %}
                            <li class="">{{experience.role}} at {{experience.company}}</li> 
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="space-y-1">
                            <h3 class="text-xl font-bold">Education Background:</h3>
                            <ul class="list-disc pl-6">
                            {% for education in mentors.educations.all %}
                            <li class="">{{education.degree}}, {{education.institution}}</li> 
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %} 
                </div>
            </div>
    
        </div>      
    
    </div>  
</section>
{% endblock pageContent %}
