{% extends 'base.html' %}
{% load static %}

{% block pageContent %}
<div class="max-w-6xl mx-auto px-6 my-12">
    <h1 class="text-myNavy font-bold text-4xl lg:text-5xl">Frequently Asked Questions</h1>

    <div class="flex flex-col mt-16 space-y-4 space-x-0 lg:space-y-0 lg:space-x-4 lg:flex-row">
        <div class="w-full border border-myNavy lg:w-1/2">
            <h2 class="bg-myNavy text-white font-bold text-xl px-4 py-2 lg:text-2xl">
                Barangay Micro Business Enterprise (BMBE)
            </h2>
            <div class="divide-y divide-myNavy">
                <ol class="list-decimal list-inside" start="1">
                    <li class="px-4 py-2 text-lg font-bold" onclick="toggleAnswer(1, 1)">
                        <span class="px-2 text-turquoise">What are the requirements for BMBE application?</span>
                    </li>
                    <ol id="answer1_1" class="hidden list-decimal list-inside pl-8 text-base">
                        <li class="px-2 py-1">Two (2) copies of BMBE application form with photocopy</li>
                        <li class="px-2 py-1">Business Name certificate with photocopy</li>
                        <li class="px-2 py-1">Valid ID with photocopy</li>
                        <li class="px-2 py-1">Annual Income Tax with photocopy</li>
                    </ol>
                </ol>
                <ol class="list-decimal list-inside" start="2">
                    <li class="px-4 py-2 text-lg font-bold" onclick="toggleAnswer(1, 2)">
                        <span class="px-2 text-turquoise">How does one register as a BMBE?</span>
                    </li>
                    <ul id="answer1_2" class="hidden list-inside pl-8 text-base">
                        <li class="px-2 py-1">Based on the revised guidelines issued by the DTI under DTI DAO No. 16-01, Series of 2016, any person, natural or juridical, such as partnership, corporation, association and cooperative, having the qualifications and none of the disqualifications shall be eligible to register as BMBEs.</li>
                        <li class="px-2 py-1">A person applying to be registered as a BMBE shall meet the following qualifications:
                            <ol class="list-decimal list-inside">
                                <li class="py-1">With an asset of not more than Three Million PESOS (Php3,000,000.00) excluding land;</li>
                                <li class="py-1">Engaged in the production, processing or manufacturing of products or commodities, including agro processing, trading and services;</li>
                                <li class="py-1">Registered with the Department of Trade and Industry for sole proprietorships; for juridical persons: with the Securities and Exchange Commission (SEC), for corporations, partnerships and associations; and with the Cooperative Development Authority for cooperatives.</li>    
                            </ol>
                        </li>
                        <li class="px-2 py-1">However, entities rendering services in connection with the exercise of one’s profession by a person duly licensed by the government after having passed a government licensure examination are disqualified from applying for BMBE Certificate of Authority.</li>
                        <li class="px-2 py-1">Applications for BMBE Certificate of Authority shall be filed with the Negosyo Centers established in each province, city or municipality, or in the DTI offices where Negosyo Centers have not been set up.</li>
                        <li class="px-2 py-1">The following shall be submitted in support of the duly filled up BMBE application form:
                            <ol class="list-decimal list-inside">
                                <li class="py-1">Certificate of Business Name Registration from the Department of Trade and Industry (DTI), or</li>
                                <li class="py-1">Certificate of Registration from the Securities and Exchange Commission (SEC), or</li>
                                <li class="py-1">Certificate of Registration from the Cooperative Development Authority (CDA).</li>
                            </ol>
                        </li>
                    </ul>
                </ol>
                <ol class="list-decimal list-inside" start="3">    
                    <li class="px-4 py-2 text-lg font-bold" onclick="toggleAnswer(1, 3)">
                        <span class="px-2 text-turquoise">What is the procedure for registration?</span>
                    </li>
                    <ul id="answer1_3" class="hidden list-inside pl-8 text-base">
                        <li class="px-2 py-1">The applicant shall follow the steps herein enumerated in applying for BMBE Certificate of Authority (CA):
                            <ol class="list-decimal list-inside">
                                <li class="py-1">Accomplish and file the application form for BMBE Certificate of Authority;</li>
                                <li class="py-1">The DTI, through the Negosyo Center, evaluates the application for purposes of determining the eligibility and qualifications as a BMBE;</li>
                                <li class="py-1">The DTI, after finding the applicant to be eligible and qualified, issues the BMBE Certificate of Authority within fifteen (15) working days from receipt of application with complete requirements; otherwise, the BMBE Certificate of Authority shall be deemed approved (where in such cases it becomes ministerial on the part of DTI to issue the BMBE Certificate of Authority).</li>    
                            </ol>
                        </li>
                    </ul>
                </ol>
            </div>
            
            

            
        </div>
    
    </div>
</div>
{% endblock pageContent %}