{% extends 'base.html' %}
{% load static %}


{% block pageContent %}
    <div class="items-center max-w-4xl mx-auto px-6 my-12 space-x-0 lg:max-w-6xl">
        <!--Heading-->
        <h1 class="text-4xl font-bold lg:text-5xl">Monitoring and Evaluation</h1>
        <div class="container-msme_profile flex flex-wrap items-start gap-4 mx-auto mt-12">
            <div class="rounded shadow h-56">
                <a href="{% url 'client_contacts' %}">
                    <div class="flex flex-col items-center space-y-4">
                        <div class="py-4 px-4 bg-myNavy rounded-t min-w-full">
                            <p class="font-bold text-white text-lg text-center break-words">Client / Contact Person Information</p>
                        </div>
                        <div class="h-auto w-24 pb-4">
                            <img src="{% static 'img/msme-monitoring/client.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="rounded shadow h-56">
                <a href="{% url 'client_contacts' %}">
                    <div class="flex flex-col items-center space-y-4">
                        <div class="py-4 px-4 bg-myNavy rounded-t min-w-full">
                            <p class="font-bold text-white text-lg text-center break-words">Business Contact Information</p>
                        </div>
                        <div class="h-auto w-24 pb-4">
                            <img src="{% static 'img/msme-monitoring/client.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="rounded shadow h-56">
                <a href="{% url 'client_contacts' %}">
                    <div class="flex flex-col items-center space-y-4">
                        <div class="py-4 px-4 bg-myNavy rounded-t min-w-full">
                            <p class="font-bold text-white text-lg text-center break-words">Business Registration / Certification</p>
                        </div>
                        <div class="h-auto w-24 pb-4">
                            <img src="{% static 'img/msme-monitoring/client.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="rounded shadow h-56">
                <a href="{% url 'client_contacts' %}">
                    <div class="flex flex-col items-center space-y-4">
                        <div class="py-4 px-4 bg-myNavy rounded-t min-w-full">
                            <p class="font-bold text-white text-lg text-center break-words">Owner / Chairperson /Persident's Profile</p>
                        </div>
                        <div class="h-auto w-24 pb-4">
                            <img src="{% static 'img/msme-monitoring/client.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="rounded shadow h-56">
                <a href="{% url 'client_contacts' %}">
                    <div class="flex flex-col items-center space-y-4">
                        <div class="py-4 px-4 bg-myNavy rounded-t min-w-full">
                            <p class="font-bold text-white text-lg text-center break-words">Business Profile</p>
                        </div>
                        <div class="h-auto w-24 pb-4">
                            <img src="{% static 'img/msme-monitoring/client.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="rounded shadow h-56">
                <a href="{% url 'client_contacts' %}">
                    <div class="flex flex-col items-center space-y-4">
                        <div class="py-4 px-4 bg-myNavy rounded-t min-w-full">
                            <p class="font-bold text-white text-lg text-center break-words">Business Financial Structure</p>
                        </div>
                        <div class="h-auto w-24 pb-4">
                            <img src="{% static 'img/msme-monitoring/client.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="rounded shadow h-56">
                <a href="{% url 'client_contacts' %}">
                    <div class="flex flex-col items-center space-y-4">
                        <div class="py-4 px-4 bg-myNavy rounded-t min-w-full">
                            <p class="font-bold text-white text-lg text-center break-words">Market Access</p>
                        </div>
                        <div class="h-auto w-24 pb-4">
                            <img src="{% static 'img/msme-monitoring/client.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="rounded shadow h-56">
                <a href="{% url 'client_contacts' %}">
                    <div class="flex flex-col items-center space-y-4">
                        <div class="py-4 px-4 bg-myNavy rounded-t min-w-full">
                            <p class="font-bold text-white text-lg text-center break-words">Product / Service Lines</p>
                        </div>
                        <div class="h-auto w-24 pb-4">
                            <img src="{% static 'img/msme-monitoring/client.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="rounded shadow h-56">
                <a href="{% url 'client_contacts' %}">
                    <div class="flex flex-col items-center space-y-4">
                        <div class="py-4 px-4 bg-myNavy rounded-t min-w-full">
                            <p class="font-bold text-white text-lg text-center break-words">Employment Statistics</p>
                        </div>
                        <div class="h-auto w-24 pb-4">
                            <img src="{% static 'img/msme-monitoring/client.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>  
{% endblock pageContent %}
