{% extends 'base.html' %}
{% load static %}

{% block pageContent %}
<div class="max-w-6xl mx-auto px-6 my-12 text-base text-start">
    <form action="" method="POST">
        {% csrf_token %}
        <!--BUSINESS REGISTRATION AND BUSINESS CONTACT INFORMATION-->
        <h2 class="bg-myNavy text-white font-bold px-4 py-2 text-xl lg:text-2xl">BUSINESS REGISTRATION AND BUSINESS CONTACT INFORMATION</h2>
        <div class="flex justify-start items-center px-2 py-2 border border-t-0 border-myNavy divide-myNavy space-x-2">
            <!--STATUS OF BUSINESS-->
            <label class="text-paleBlue font-bold text-sm" for="business_status">STATUS OF BUSINESS</label>
            <div class="flex items-center space-x-2">
                <input type="radio" id="registered" name="business_status" value="Registered">
                <label for="registered">Registered</label>
            </div>
            <div class="flex items-center space-x-2">
                <input type="radio" id="unregistered" name="business_status" value="Unregistered">
                <label for="unregistered">Unregistered</label>
            </div>
        </div>
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/2">
                <label class="text-paleBlue font-bold text-sm" for="businessName">NAME OF BUSINESS</label>
                <input placeholder="Enter Name of Business" class="w-full border-none focus:ring-0" type="text" id="businessName" name="businessName">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/2">
                <label class="text-paleBlue font-bold text-sm" for="registrationDate">DATE OF REGISTRATION</label>
                <input class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" type="date" id="registrationDate" name="registrationDate">
            </div>
        </div>
        <!--Kindly provide if available:-->
        <h3 class="bg-paleBlue px-2 py-1 border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy text-white font-bold mt-4">
            Kindly provide if available:
        </h3>
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="registeredBusinessName">Registered Business Name</label>
                <input placeholder="Enter Registered Business Name" class="w-full border-none focus:ring-0" type="text" id="registeredBusinessName" name="registeredBusinessName">
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="tradeName">Trade Name or Billboard Name</label>
                <input placeholder="Enter Trade Name or Billboard Name" class="w-full border-none focus:ring-0" type="text" id="tradeName" name="tradeName">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="ipoRegistrationNo">IPO Registration No. (If Any)</label>
                <input placeholder="Enter IPO Registration No. (If Any)" class="w-full border-none focus:ring-0" type="text" id="ipoRegistrationNo" name="ipoRegistrationNo">
            </div>
        </div>

        <!--REGISTRATIONS & LICENSES-->
        <h3 class="bg-paleBlue px-2 py-1 border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy text-white font-bold mt-4">
            REGISTRATIONS & LICENSES
        </h3>
        <!--Business Name Registration Type-->
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="businessNameRegistrationType">Business Name Registration Type</label>
                <select class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" id="registeredBusinessName" name="registeredBusinessName">
                    <option value="">Select Registering Agency</option>
                    <option value="DTI">DTI</option>
                    <option value="SEC">SEC</option>
                    <option value="CDA">CDA</option>
                    <option value="DOLE">DOLE</option>
                </select>
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="businessNameRegistrationNo">Registration No.</label>
                <input placeholder="Enter Registration No." class="ml-2 w-full border-none focus:ring-0" type="text" id="businessNameRegistrationNo" name="businessNameRegistrationNo">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="businessNameExpiry">Expiry</label>
                <input placeholder="Enter Expiry" class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" type="date" id="businessNameExpiry" name="businessNameExpiry">
            </div>
        </div>
        <!--Business Permit/Mayor's Permit-->
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="businessPermit">Business Permit/Mayor's Permit</label>
                <div class="flex items-center space-x-2 ml-2 mt-1">
                    <input type="checkbox" id="registered_business_permit" name="businessPermit" value="Registered">
                    <label for="registered_business_permit">Registered</label>
                </div>
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="businessPermitRegistrationNo">Registration No.</label>
                <input placeholder="Enter Registration No." class="ml-2 w-full border-none focus:ring-0" type="text" id="businessPermitRegistrationNo" name="businessPermitRegistrationNo">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="businessNameExpiry">Expiry</label>
                <input placeholder="Enter Expiry" class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" type="date" id="businessNameExpiry" name="businessNameExpiry">
            </div>
        </div>
        <!--BMBE-->
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="bmbe_registration">BMBE Registration</label>
                <div class="flex items-center space-x-2 ml-2 mt-1">
                    <input type="checkbox" id="registered_bmbe" name="bmbe_registration" value="Registered">
                    <label for="registered_bmbe">Registered</label>
                </div>
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="bmbe_registration_number">Registration No.</label>
                <input placeholder="Enter Registration No." class="ml-2 w-full border-none focus:ring-0" type="text" id="bmbe_registration_number" name="bmbe_registration_number">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="bmbe_expiry">Expiry</label>
                <input placeholder="Enter Expiry" class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" type="date" id="bmbe_expiry" name="bmbe_expiry">
            </div>
        </div>
        <!--BIR (TIN)-->
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="bir_registration">BIR (TIN)</label>
                <div class="flex items-center space-x-2 ml-2 mt-1">
                    <input type="checkbox" id="registered_bir" name="bir_registration" value="Registered">
                    <label for="registered_bir">Registered</label>
                </div>
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="bir_registration_number">Registration No.</label>
                <input placeholder="Enter Registration No." class="ml-2 w-full border-none focus:ring-0" type="text" id="bir_registration_number" name="bir_registration_number">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="bir_expiry">Expiry</label>
                <input placeholder="Enter Expiry" class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" type="date" id="bir_expiry" name="bir_expiry">
            </div>
        </div>
        <!--FDA-->
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="fda_registration">FDA</label>
                <div class="flex items-center space-x-2 ml-2 mt-1">
                    <input type="checkbox" id="registered_fda" name="fda_registration" value="Registered">
                    <label for="registered_fda">Registered</label>
                </div>
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="fda_registration_number">Registration No.</label>
                <input placeholder="Enter Registration No." class="ml-2 w-full border-none focus:ring-0" type="text" id="fda_registration_number" name="fda_registration_number">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="fda_expiry">Expiry</label>
                <input placeholder="Enter Expiry" class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" type="date" id="fda_expiry" name="fda_expiry">
            </div>
        </div>
        
        <!--OTHER SECONDARY LICENSES / CERTIFICATION-->
        <h3 class="bg-paleBlue px-2 py-1 border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy text-white font-bold mt-4">
            OTHER SECONDARY LICENSES / CERTIFICATION
        </h3>
        <!--Import Commodity Clearance (ICC)-->
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="icc_certification">Import Commodity Clearance (ICC)</label>
                <div class="flex items-center space-x-2 ml-2 mt-1">
                    <input type="checkbox" id="icc_certified" name="icc_certification" value="Registered">
                    <label for="icc_certified">Certified</label>
                </div>
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="icc_certification_number">License/Certification No.</label>
                <input placeholder="Enter License/Certification No." class="ml-2 w-full border-none focus:ring-0" type="text" id="icc_Certification_number" name="icc_Certification_number">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="icc_expiry">Expiry</label>
                <input placeholder="Enter Expiry" class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" type="date" id="icc_expiry" name="icc_expiry">
            </div>
        </div>
        <!--ISO Certification-->
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="iso_certification">ISO Certification</label>
                <div class="flex items-center space-x-2 ml-2 mt-1">
                    <input type="checkbox" id="iso_certified" name="iso_certification" value="Certified">
                    <label for="iso_certified">Certified</label>
                </div>
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="iso_certification_number">License/Certification No.</label>
                <input placeholder="Enter License/Certification No." class="ml-2 w-full border-none focus:ring-0" type="text" id="iso_certification_number" name="iso_certification_number">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="iso_expiry">Expiry</label>
                <input placeholder="Enter Expiry" class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" type="date" id="iso_expiry" name="iso_expiry">
            </div>
        </div>
        <!--Product Standard License-->
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="product_standard_license">Product Standard License</label>
                <div class="flex items-center space-x-2 ml-2 mt-1">
                    <input type="checkbox" id="product_standard_license" name="product_standard_license" value="Licensed">
                    <label for="product_standard_license">Licensed</label>
                </div>
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="product_standard_license_number">License/Certification No.</label>
                <input placeholder="Enter License/Certification No." class="ml-2 w-full border-none focus:ring-0" type="text" id="product_standard_license_number" name="product_standard_license_number">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="iso_expiry">Expiry</label>
                <input placeholder="Enter Expiry" class="ml-2 w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise mt-2" type="date" id="iso_expiry" name="iso_expiry">
            </div>
        </div>

        <!--BUSINESS CONTACT INFORMATION-->
        <h3 class="bg-paleBlue px-2 py-1 border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy text-white font-bold mt-4">
            BUSINESS ADDRESS
        </h3>
        <!--Is the Address the same as in the Client/Contact Person Information?-->
        <div class="flex justify-start items-center px-2 py-2 font-bold text-xs border border-t-0 border-myNavy divide-myNavy space-x-2">
            <label for="same_address">Is the Address the same as in the Client/Contact Person Information?</label>
            <div class="flex items-center space-x-2">
                <input type="radio" id="same_address" name="same_address" value="Yes">
                <label for="same_address">Yes</label>
            </div>
            <div class="flex items-center space-x-2">
                <input type="radio" id="not_same_address" name="same_address" value="No">
                <label for="not_same_address">No</label>
            </div>
        </div>
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/2">
                <label class="text-paleBlue font-bold text-sm" for="houseNo">House/Building No./Room & Floor No./Building Name</label>
                <input placeholder="Enter House/Building No./Room & Floor No./Building Name" class="w-full border-none focus:ring-0" type="text" id="houseNo" name="houseNo">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/2">
                <label class="text-paleBlue font-bold text-sm" for="houseNo">Street Name</label>
                <input placeholder="Enter Street Name" class="w-full border-none focus:ring-0" type="text" id="houseNo" name="houseNo">
            </div>                            
        </div>
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="barangay">Barangay</label>
                <input placeholder="Enter Barangay" class="w-full border-none focus:ring-0" type="text" id="barangay" name="barangay">
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="district">District</label>
                <input placeholder="Enter District" class="w-full border-none focus:ring-0" type="text" id="district" name="district">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="city">City/Municipality</label>
                <input placeholder="Enter City/Municipality" class="w-full border-none focus:ring-0" type="text" id="city" name="city">
            </div>
        </div>
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="province">Province</label>
                <input placeholder="Enter Province" class="w-full border-none focus:ring-0" type="text" id="province" name="province">
            </div>              
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="region">Region</label>
                <input placeholder="Enter Region" class="w-full border-none focus:ring-0" type="text" id="region" name="region">
            </div>             
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/3">
                <label class="text-paleBlue font-bold text-sm" for="zipCode">Zip Code</label>
                <input placeholder="Enter Zip Code" class="w-full border-none focus:ring-0" type="text" id="zipCode" name="zipCode">
            </div>
        </div>

        <h3 class="bg-paleBlue px-2 py-1 border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy text-white font-bold mt-4">
            BUSINESS CONTACT DETAILS
        </h3>
        <!--Are the contact details the same as in the Client/Contact Person Information?-->
        <div class="flex justify-start items-center px-2 py-2 font-bold text-xs border border-t-0 border-myNavy divide-myNavy space-x-2">
            <label for="same_contact_details">Are the contact details the same as in the Client/Contact Person Information?</label>
            <div class="flex items-center space-x-2">
                <input type="radio" id="same_contact_details" name="same_contact_details" value="Yes">
                <label for="same_contact_details">Yes</label>
            </div>
            <div class="flex items-center space-x-2">
                <input type="radio" id="not_same_contact_details" name="same_contact_details" value="No">
                <label for="not_same_contact_details">No</label>
            </div>
        </div>
        <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/4">
                <label class="text-paleBlue font-bold text-sm" for="landline">Landline Number</label>
                <input placeholder="Enter Landline Number" class="w-full border-none focus:ring-0" type="text" id="landline" name="landline">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/4">
                <label class="text-paleBlue font-bold text-sm" for="fax">Fax Number</label>
                <input placeholder="Enter Fax Number" class="w-full border-none focus:ring-0" type="text" id="fax" name="fax">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/4">
                <label class="text-paleBlue font-bold text-sm" for="email">Email Address</label>
                <input placeholder="Enter Email Address" class="w-full border-none focus:ring-0" type="email" id="email" name="email">
            </div>
            <div class="flex flex-col w-full px-2 py-2 lg:w-1/4">
                <label class="text-paleBlue font-bold text-sm" for="mobile">Mobile Number</label>
                <input placeholder="Enter Mobile Number" class="w-full border-none focus:ring-0" type="text" id="mobile" name="mobile" pattern="\d{11}">
            </div>
        </div>
        
        <div class="mt-12">
            <label for="fbAccount">Social Media Accounts: FB</label>
            <input type="text" id="fbAccount" name="fbAccount">
            
            <label for="instagramAccount">Instagram</label>
            <input type="text" id="instagramAccount" name="instagramAccount">
            
            <label for="linkedInAccount">Linked In</label>
            <input type="text" id="linkedInAccount" name="linkedInAccount">
            
            <label for="otherSocialMedia">Others</label>
            <input type="text" id="otherSocialMedia" name="otherSocialMedia">
            
            <label for="businessWebsite">Business Website:</label>
            <input type="text" id="businessWebsite" name="businessWebsite">
            
            <label for="ecommercePlatform">Ecommerce Platform/s:</label>
            <input type="text" id="ecommercePlatform" name="ecommercePlatform">
            
            <label for="thirdPartyPlatform">Third Party Platform/Applications enrolled in (if any):</label>
            <input type="text" id="thirdPartyPlatform" name="thirdPartyPlatform">
            
            <label for="shopee">Shopee</label>
            <input type="checkbox" id="shopee" name="shopee">
            
            <label for="lazada">Lazada</label>
            <input type="checkbox" id="lazada" name="lazada">
            
            <label for="apecMsme">APEC MSME marketplace</label>
            <input type="checkbox" id="apecMsme" name="apecMsme">
            
            <label for="goLokal">Go Lokal</label>
            <input type="checkbox" id="goLokal" name="goLokal">
            
            <label for="othersPlatforms">Others (include those that we are already monitoring)</label>
            <input type="text" id="othersPlatforms" name="othersPlatforms">
            
            <input type="submit" value="Submit">
        </div>

        <div class="flex justify-between mt-12">
            <a class="text-lg text-turquoise hover:text-skyBlue" href="{% url 'msme_profile' %}"><< Back</a>
            <button class="rounded bg-turquoise hover:bg-skyBlue w-52 h-auto px-4 py-2 text-white font-bold" type="submit">SUBMIT</button>
        </div>
    </form>
</div>
{% endblock pageContent %}