<div class="items-center max-w-4xl mx-auto px-6 my-12 lg:items-start lg:max-w-6xl">

    <form>
        <h3>BUSINESS TRACKERS</h3>
        
        <label for="edt">ENTERPRISE DEVELOPMENT TRACK (EDT):</label><br>
        <p>Explain what the EDT is or attach the description</p>
        <input type="radio" id="edtLevel0" name="edt" value="Level 0">
        <label for="edtLevel0">Level 0 - Entrepreneurial Mind</label><br>
        <input type="radio" id="edtLevel1" name="edt" value="Level 1">
        <label for="edtLevel1">Level 1 - Nurturing Startup</label><br>
        <input type="radio" id="edtLevel2" name="edt" value="Level 2">
        <label for="edtLevel2">Level 2 – Growing Business</label><br>
        <input type="radio" id="edtLevel3" name="edt" value="Level 3">
        <label for="edtLevel3">Level 3 – Expanding Enterprise</label><br>
        <input type="radio" id="edtLevel4" name="edt" value="Level 4">
        <label for="edtLevel4">Level 4 – Growing Enterprise</label><br>
        
        <label for="ripples">Regional Interactive Platform for Philippine Exporters (RIPPLES):</label><br>
        <p>Attach a description</p>
        <input type="checkbox" id="ripplesStage5" name="ripples" value="Stage 5">
        <label for="ripplesStage5">Stage 5 - Export Entry</label><br>
        <input type="checkbox" id="ripplesStage6" name="ripples" value="Stage 6">
        <label for="ripplesStage6">Stage 6 – Export Sustainability</label><br>
        <input type="checkbox" id="ripplesStage7" name="ripples" value="Stage 7">
        <label for="ripplesStage7">Stage 7 – Export Expansion</label><br>
        
        <label for="smera">SME Roving Academy (SMERA):</label><br>
        <input type="checkbox" id="smeraStage1" name="smera" value="Stage 1">
        <label for="smeraStage1">Stage 1 - Start Up and Capability Building</label><br>
        <input type="checkbox" id="smeraStage2" name="smera" value="Stage 2">
        <label for="smeraStage2">Stage 2 - Market Awareness</label><br>
        <input type="checkbox" id="smeraStage3" name="smera" value="Stage 3">
        <label for="smeraStage3">Stage 3 – Market Readiness</label><br>
        <input type="checkbox" id="smeraStage4" name="smera" value="Stage 4">
        <label for="smeraStage4">Stage 4 – Export Readiness</label><br>
        
        <label for="digitalization">Level of Digitalization:</label><br>
        <input type="radio" id="digitalizationLevel0" name="digitalization" value="Level 0">
        <label for="digitalizationLevel0">Level 0: No use of digital tools</label><br>
        <input type="radio" id="digitalizationLevel1" name="digitalization" value="Level 1">
        <label for="digitalizationLevel1">Level 1: Basic</label><br>
        <input type="radio" id="digitalizationLevel2" name="digitalization" value="Level 2">
        <label for="digitalizationLevel2">Level 2: Intermediate</label><br>
        <input type="radio" id="digitalizationLevel3" name="digitalization" value="Level 3">
        <label for="digitalizationLevel3">Level 3: Advanced</label><br>
        
        <label for="tools">List of Tools used:</label><br>
        <input type="checkbox" id="toolsCollaborativeSuites" name="tools" value="Collaborative Suites">
        <label for="toolsCollaborativeSuites">Collaborative Suites</label><br>
        <input type="checkbox" id="toolsCommunication" name="tools" value="Communication Tools">
        <label for="toolsCommunication">Communication Tools</label><br>
        <input type="checkbox" id="toolsProjectManagement" name="tools" value="Project Management Tools">
        <label for="toolsProjectManagement">Project Management Tools</label><br>
        <input type="checkbox" id="toolsDigitalAccounting" name="tools" value="Digital Accounting Tools and Payroll Management Tools">
        <label for="toolsDigitalAccounting">Digital Accounting Tools and Payroll Management Tools</label><br>
        <input type="checkbox" id="toolsCMS" name="tools" value="Content Management System (CMS) Tools">
        <label for="toolsCMS">Content Management System (CMS) Tools</label><br>
        <input type="checkbox" id="toolsCybersecurity" name="tools" value="Cybersecurity Tools">
        <label for="toolsCybersecurity">Cybersecurity Tools</label><br>
        <input type="checkbox" id="toolsCloudStorage" name="tools" value="Cloud Storage">
        <label for="toolsCloudStorage">Cloud Storage</label><br>
        <input type="checkbox" id="toolsFintech" name="tools" value="Fintech Tools">
        <label for="toolsFintech">Fintech Tools</label><br>
        
        <input type="submit" value="Submit">
      </form>
      
</div>