<div class="items-center max-w-4xl mx-auto px-6 my-12 lg:items-start lg:max-w-6xl"></div>

<form>
    <h2>BUSINESS REGISTRATION AND BUSINESS CONTACT INFORMATION</h2>
    
    <label for="businessName">NAME OF BUSINESS:</label>
    <input type="text" id="businessName" name="businessName">
    
    <label for="registrationDate">DATE OF REGISTRATION:</label>
    <input type="date" id="registrationDate" name="registrationDate">
    
    <p>Kindly provide if available:</p>
    <label for="registeredBusinessName">Registered Business Name:</label>
    <input type="text" id="registeredBusinessName" name="registeredBusinessName">
    
    <label for="tradeName">Trade Name or Billboard Name:</label>
    <input type="text" id="tradeName" name="tradeName">
    
    <label for="ipoRegistrationNo">IPO Registration No. (If Any):</label>
    <input type="text" id="ipoRegistrationNo" name="ipoRegistrationNo">
    
    <h3>REGISTRATIONS & LICENSES</h3>
    
    <label for="businessNameRegistrationType">Business Name Registration Type:</label>
    <input type="text" id="businessNameRegistrationType" name="businessNameRegistrationType">
    
    <label for="businessNameRegistrationNo">Registration No.:</label>
    <input type="text" id="businessNameRegistrationNo" name="businessNameRegistrationNo">
    
    <label for="businessNameExpiry">Expiry:</label>
    <input type="date" id="businessNameExpiry" name="businessNameExpiry">
    
    <label for="dtiRegistration">DTI Registration:</label>
    <input type="text" id="dtiRegistration" name="dtiRegistration">
    
    <label for="secRegistration">SEC Registration:</label>
    <input type="text" id="secRegistration" name="secRegistration">
    
    <label for="doleRegistration">DOLE Registration:</label>
    <input type="text" id="doleRegistration" name="doleRegistration">
    
    <label for="cdaRegistration">CDA Registration:</label>
    <input type="text" id="cdaRegistration" name="cdaRegistration">
    
    <label for="othersRegistration">Others:</label>
    <input type="text" id="othersRegistration" name="othersRegistration">
    
    <label for="businessPermit">BUSINESS PERMIT/MAYOR’S PERMIT:</label>
    <input type="text" id="businessPermit" name="businessPermit">
    
    <label for="birRegistration">BIR (TIN) Registration:</label>
    <input type="text" id="birRegistration" name="birRegistration">
    
    <label for="fdaRegistration">FDA Registration:</label>
    <input type="text" id="fdaRegistration" name="fdaRegistration">
    
    <label for="bmbeRegistration">BMBE Registration:</label>
    <input type="text" id="bmbeRegistration" name="bmbeRegistration">
    
    <label for="othersPermit">Others:</label>
    <input type="text" id="othersPermit" name="othersPermit">
    
    <label for="iccClearance">IMPORT COMMODITY CLEARANCE (ICC):</label>
    <input type="text" id="iccClearance" name="iccClearance">
    
    <label for="isoCertification">ISO CERTIFICATION:</label>
    <input type="text" id="isoCertification" name="isoCertification">
    
    <label for="productStandardLicense">PRODUCT STANDART LICENSE:</label>
    <input type="text" id="productStandardLicense" name="productStandardLicense">
    
    <label for="othersLicense">Others:</label>
    <input type="text" id="othersLicense" name="othersLicense">
    
    <h3>BUSINESS ADDRESS/LOCATION:</h3>
    
    <label for="sameAddress">Is the Address the same as in the Client/Contact Person Information?</label><br>
    <input type="radio" id="sameAddressYes" name="sameAddress" value="Yes">
    <label for="sameAddressYes">Yes</label>
    <input type="radio" id="sameAddressNo" name="sameAddress" value="No">
    <label for="sameAddressNo">No</label>
    
    <label for="businessAddress">Business Address/Location:</label>
    <input type="text" id="businessAddress" name="businessAddress">
    
    <label for="businessBarangay">Barangay:</label>
    <input type="text" id="businessBarangay" name="businessBarangay">
    
    <label for="businessCity">City/Municipality:</label>
    <input type="text" id="businessCity" name="businessCity">
    
    <label for="businessProvince">Province:</label>
    <input type="text" id="businessProvince" name="businessProvince">
    
    <label for="businessRegion">Region:</label>
    <input type="text" id="businessRegion" name="businessRegion">
    
    <label for="businessZipCode">Zip Code:</label>
    <input type="text" id="businessZipCode" name="businessZipCode">
    
    <h3>BUSINESS CONTACT DETAILS:</h3>
    
    <label for="sameContactDetails">Are the contact details the same as in the Client/Contact Person Information?</label><br>
    <input type="radio" id="sameContactDetailsYes" name="sameContactDetails" value="Yes">
    <label for="sameContactDetailsYes">Yes</label>
    <input type="radio" id="sameContactDetailsNo" name="sameContactDetails" value="No">
    <label for="sameContactDetailsNo">No</label>
    
    <label for="businessLandline">Landline Number:</label>
    <input type="text" id="businessLandline" name="businessLandline">
    
    <label for="businessFax">Fax Number:</label>
    <input type="text" id="businessFax" name="businessFax">
    
    <label for="businessEmail">Email Address:</label>
    <input type="email" id="businessEmail" name="businessEmail">
    
    <label for="businessMobile">Mobile Number:</label>
    <input type="text" id="businessMobile" name="businessMobile">
    
    <label for="fbAccount">Social Media Accounts: FB</label>
    <input type="text" id="fbAccount" name="fbAccount">
    
    <label for="instagramAccount">Instagram</label>
    <input type="text" id="instagramAccount" name="instagramAccount">
    
    <label for="linkedInAccount">Linked In</label>
    <input type="text" id="linkedInAccount" name="linkedInAccount">
    
    <label for="otherSocialMedia">Others</label>
    <input type="text" id="otherSocialMedia" name="otherSocialMedia">
    
    <label for="businessWebsite">Business Website:</label>
    <input type="text" id="businessWebsite" name="businessWebsite">
    
    <label for="ecommercePlatform">Ecommerce Platform/s:</label>
    <input type="text" id="ecommercePlatform" name="ecommercePlatform">
    
    <label for="thirdPartyPlatform">Third Party Platform/Applications enrolled in (if any):</label>
    <input type="text" id="thirdPartyPlatform" name="thirdPartyPlatform">
    
    <label for="shopee">Shopee</label>
    <input type="checkbox" id="shopee" name="shopee">
    
    <label for="lazada">Lazada</label>
    <input type="checkbox" id="lazada" name="lazada">
    
    <label for="apecMsme">APEC MSME marketplace</label>
    <input type="checkbox" id="apecMsme" name="apecMsme">
    
    <label for="goLokal">Go Lokal</label>
    <input type="checkbox" id="goLokal" name="goLokal">
    
    <label for="othersPlatforms">Others (include those that we are already monitoring)</label>
    <input type="text" id="othersPlatforms" name="othersPlatforms">
    
    <input type="submit" value="Submit">
  </form>
  
</div>