{% extends 'base.html' %}
{% load static %}

{% block pageContent %}
<div class="max-w-6xl mx-auto px-6 my-12 text-base text-start">
    <form action="" method="POST">
        {% csrf_token %}
        <!--CLIENT IDs on Record-->
        <div class="">
            <h2 class="bg-myNavy text-white font-bold px-4 py-2 text-xl lg:text-2xl">CLIENT IDs on Record</h2>
            <div class="flex justify-between border border-myNavy divide-x divide-myNavy">
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/2">
                    <label class="text-paleBlue font-bold text-sm" for="msmeCpmsId">MSME CPMS ID No.</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="msmeCpmsId" name="msmeCpmsId">
                </div>
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/2">
                    <label class="text-paleBlue font-bold text-sm" for="oldCpmsId">Old CPMS ID No.</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="oldCpmsId" name="oldCpmsId">
                </div>
            </div>
            <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="philsysNo">Philsys No.</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="tinNo" name="tinNo">
                </div>
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="dtiKonekId">DTI Konek ID No.</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="dtiKonekId" name="dtiKonekId">
                </div>
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="tinNo">TIN No.</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="tinNo" name="tinNo">
                </div>
            </div>
        </div>
          
        
        <!--CLIENT/MSME/REPRESENTATIVE'S CONTACT INFORMATION-->
        <div>
            <h2 class="bg-myNavy text-white font-bold px-4 py-2 text-xl lg:text-2xl mt-12">CLIENT/MSME/REPRESENTATIVE'S CONTACT INFORMATION</h2>
            <!--PERSONAL INFORMATION-->
            <div class="">
                <h3 class="px-2 py-1 font-bold text-base lg:text-lg border border-myNavy">PERSONAL INFORMATION</h3>
                <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
                    <div class="flex flex-col w-full px-2 lg:w-1/5">
                        <label class="text-paleBlue font-bold text-sm" for="prefix">PREFIX</label>
                        <input class="w-full border-none focus:ring-0 lg:w-auto" type="text" id="prefix" name="prefix">
                    </div>
                    <div class="flex flex-col w-full px-2 lg:w-1/5">
                        <label class="text-paleBlue font-bold text-sm" for="firstName">FIRST NAME</label>
                        <input class="w-full border-none focus:ring-0 lg:w-auto" type="text" id="firstName" name="firstName">
                    </div>
                    <div class="flex flex-col w-full px-2 lg:w-1/5">
                        <label class="text-paleBlue font-bold text-sm" for="middleName">MIDDLE NAME</label>
                        <input class="w-full border-none focus:ring-0 lg:w-auto" type="text" id="middleName" name="middleName">
                    </div>                  
                    <div class="flex flex-col w-full px-2 lg:w-1/5">
                        <label class="text-paleBlue font-bold text-sm" for="lastName">LAST NAME</label>
                        <input class="w-full border-none focus:ring-0 lg:w-auto" type="text" id="lastName" name="lastName">
                    </div>                 
                    <div class="flex flex-col w-full px-2 lg:w-1/5">
                        <label class="text-paleBlue font-bold text-sm" for="suffix">SUFFIX</label>
                        <input class="w-full border-none focus:ring-0 lg:w-auto" type="text" id="suffix" name="suffix">
                    </div>
                </div>
            </div>             
            <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="sex">SEX</label>
                    <div class="flex items-center space-x-2 mt-1">
                        <input type="radio" id="male" name="sex" value="Male">
                        <label class="" for="male">Male</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="female" name="sex" value="Female">
                        <label class="" for="female">Female</label>
                    </div>
                </div>              
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="civilStatus">CIVIL STATUS</label>
                    <div class="flex items-center space-x-2 mt-1">
                        <input type="radio" id="single" name="civilStatus" value="Single">
                        <label class="" for="single">Single</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="widowed" name="civilStatus" value="Widowed">
                        <label class="" for="widowed">Widowed</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="married" name="civilStatus" value="Married">
                        <label class="" for="married">Married</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="legallySeparated" name="civilStatus" value="Legally Separated">
                        <label class="" for="legallySeparated">Legally Separated</label>
                    </div>
                </div>             
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="socialClassification">SOCIAL CLASSIFICATION</label>
                    <div class="flex items-center space-x-2 mt-1">
                        <input type="radio" id="abled" name="socialClassification" value="Abled">
                        <label class="" for="abled">Abled</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="indigenous" name="socialClassification" value="Indigenous Person">
                        <label class="" for="indigenous">Indigenous Person</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="seniorCitizen" name="socialClassification" value="Senior Citizen">
                        <label class="" for="seniorCitizen">Senior Citizen</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="pwd" name="socialClassification" value="Differently-Abled (PWD)">
                        <label class="" for="pwd">Differently-Abled (PWD)</label>
                    </div>
                </div>
            </div>              
            <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/2">
                    <label class="text-paleBlue font-bold text-sm" for="designation">DESIGNATION</label>
                    <div class="flex items-center space-x-2 mt-1">
                        <input type="radio" id="owner" name="designation" value="Owner">
                        <label class="" for="owner">Owner</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="representative" name="designation" value="Representative">
                        <label class="" for="representative">Representative</label>
                    </div>
                </div>
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/2">
                    <label class="text-paleBlue font-bold text-sm" for="birthdate">BIRTHDATE</label>
                    <div class="mt-1">
                        <input class="w-8/12 focus:outline-none focus:ring-0 focus:border-turquoise" type="date" id="birthDate" name="birthDate">
                    </div>
                </div>
            </div>
              
            <!--ADDRESS-->
            <h3 class="bg-paleBlue mt-4 px-2 py-1 border border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy text-white font-bold text-sm">
                ADDRESS
            </h3>
            <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/2">
                    <label class="text-paleBlue font-bold text-sm" for="houseNo">House/Building No./Room & Floor No./Building Name</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="houseNo" name="houseNo">
                </div>              
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/2">
                    <label class="text-paleBlue font-bold text-sm" for="street">Street Name</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="street" name="street">
                </div>              
            </div>
            <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="barangay">Barangay</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="barangay" name="barangay">
                </div>              
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="district">District</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="district" name="district">
                </div>
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="city">City/Municipality</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="city" name="city">
                </div>
            </div>
            <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="province">Province</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="province" name="province">
                </div>              
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="region">Region</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="region" name="region">
                </div>             
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/3">
                    <label class="text-paleBlue font-bold text-sm" for="zipCode">Zip Code</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="zipCode" name="zipCode">
                </div>
            </div>

            <!--CONTACT DETAILS-->
            <h3 class="bg-paleBlue mt-4 px-2 py-1 border border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy text-white font-bold text-sm">
                CONTACT DETAILS
            </h3>
            <div class="flex flex-col border border-t-0 border-myNavy divide-x-0 divide-y lg:divide-x lg:divide-y-0 divide-myNavy lg:flex-row">
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/4">
                    <label class="text-paleBlue font-bold text-sm" for="landline">Landline Number</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="landline" name="landline"></div>
              
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/4">
                    <label class="text-paleBlue font-bold text-sm" for="fax">Fax Number</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="fax" name="fax"></div>
              
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/4">
                    <label class="text-paleBlue font-bold text-sm" for="email">Email Address</label>
                    <input class="w-full border-none focus:ring-0" type="email" id="email" name="email"></div>
              
                <div class="flex flex-col w-full px-2 py-1 lg:w-1/4">
                    <label class="text-paleBlue font-bold text-sm" for="mobile">Mobile Number</label>
                    <input class="w-full border-none focus:ring-0" type="text" id="mobile" name="mobile"></div>
            </div>

            <div class="flex justify-between mt-12">
                <a class="text-lg text-turquoise hover:text-skyBlue" href="{% url 'msme_profile' %}"><< Back</a>
                <button class="rounded bg-turquoise hover:bg-skyBlue w-52 h-auto px-4 py-2 text-white font-bold" type="submit">SUBMIT</button>
            </div>
        </div>
        
    </form>
</div>
{% endblock pageContent %}