<div class="items-center max-w-4xl mx-auto px-6 my-12 lg:items-start lg:max-w-6xl">

<form>
    <h2>CATEGORY OF CLIENT/MSME</h2>
    <label>STATUS OF CLIENT/MSMEs ASSISTED</label><br>
    <input type="radio" id="level0" name="status" value="Level 0 - Would be or Potential Entrepreneurs">
    <label for="level0">Level 0 - Would be or Potential Entrepreneurs</label><br>
    <input type="radio" id="level1" name="status" value="Level 1 - Nurturing Startup">
    <label for="level1">Level 1 - Nurturing Startup</label><br>
    <input type="radio" id="level2" name="status" value="Level 2 - Growing Enterprises (Registered)">
    <label for="level2">Level 2 - Growing Enterprises (Registered)</label><br>
    <input type="radio" id="level3" name="status" value="Level 3 - Expanding Enterprises (Registered)">
    <label for="level3">Level 3 - Expanding Enterprises (Registered)</label><br>
    <input type="radio" id="level1_1" name="status" value="Level 1.1 (Unregistered)">
    <label for="level1_1">Level 1.1 (Unregistered)</label><br>
    <input type="radio" id="level4" name="status" value="Level 4 - Sustaining Enterprises (Registered)">
    <label for="level4">Level 4 - Sustaining Enterprises (Registered)</label><br>
    <input type="radio" id="level1_2" name="status" value="Level 1.2 (Partially Registered)">
    <label for="level1_2">Level 1.2 (Partially Registered)</label><br>
    <input type="radio" id="ceased" name="status" value="Ceased Operations">
    <label for="ceased">Ceased Operations</label><br>
  
    <p>* For Level 0, Please select where you might belong in the following. You may select more than one (1) category:</p>
    <input type="checkbox" id="agrarianReform" name="category" value="Agrarian Reform Beneficiaries">
    <label for="agrarianReform">Agrarian Reform Beneficiaries</label><br>
    <input type="checkbox" id="housewife" name="category" value="Housewife/husband">
    <label for="housewife">Housewife/husband</label><br>
    <input type="checkbox" id="professional" name="category" value="Professional">
    <label for="professional">Professional</label><br>
    <input type="checkbox" id="privateEmployee" name="category" value="Private Employee">
    <label for="privateEmployee">Private Employee</label><br>
    <input type="checkbox" id="selfEmployed" name="category" value="Self-Employed">
    <label for="selfEmployed">Self-Employed</label><br>
    <input type="checkbox" id="kiawia" name="category" value="KIA/WIA/KIP/WIPO">
    <label for="kiawia">KIA/WIA/KIP/WIPO</label><br>
    <input type="checkbox" id="student" name="category" value="Student">
    <label for="student">Student</label><br>
    <input type="checkbox" id="pwd" name="category" value="Person with Disabilities">
    <label for="pwd">Person with Disabilities</label><br>
    <input type="checkbox" id="ofw" name="category" value="OFW">
    <label for="ofw">OFW</label><br>
    <input type="checkbox" id="militaryPolice" name="category" value="Military/Police">
    <label for="militaryPolice">Military/Police</label><br>
    <input type="checkbox" id="drugSurrenderee" name="category" value="Drug Surrenderee">
    <label for="drugSurrenderee">Drug Surrenderee</label><br>
    <input type="checkbox" id="youth" name="category" value="Youth">
    <label for="youth">Youth</label><br>
    <input type="checkbox" id="outOfSchoolYouth" name="category" value="Out-of-School Youth">
    <label for="outOfSchoolYouth">Out-of-School Youth</label><br>
    <input type="checkbox" id="governmentEmployee" name="category" value="Government Employee">
    <label for="governmentEmployee">Government Employee</label><br>
    <input type="checkbox" id="others" name="category" value="Others">
    <label for="others">Others</label><br>
    <input type="checkbox" id="unemployed" name="category" value="Unemployed">
    <label for="unemployed">Unemployed</label><br>
    <input type="checkbox" id="retiree" name="category" value="Retiree">
    <label for="retiree">Retiree</label><br>
    <input type="checkbox" id="exConvict" name="category" value="Ex-Convict">
    <label for="exConvict">Ex-Convict</label><br>
    <input type="checkbox" id="urbanPoor" name="category" value="Urban Poor">
    <label for="urbanPoor">Urban Poor</label><br>
    <input type="checkbox" id="formerRebel" name="category" value="Former Rebel">
    <label for="formerRebel">Former Rebel</label><br>
    <input type="checkbox" id="fourPs" name="category" value="4Ps Beneficiary">
    <label for="fourPs">4Ps Beneficiary</label><br>
    <input type="checkbox" id="farmer" name="category" value="Farmer">
    <label for="farmer">Farmer</label><br>
    <input type="checkbox" id="alienForeigner" name="category" value="Alien/Foreigner">
    <label for="alienForeigner">Alien/Foreigner</label><br>
    <input type="checkbox" id="personsOfConcern" name="category" value="Persons of Concern">
    <label for="personsOfConcern">Persons of Concern</label><br>
    <input type="checkbox" id="personDeprivedOfLiberty" name="category" value="Person Deprived of Liberty">
    <label for="personDeprivedOfLiberty">Person Deprived of Liberty</label><br>
  
    <h2>IF WITH BUSINESS, PLEASE FILL UP:</h2>
    <label for="businessStatus">STATUS OF BUSINESS</label><br>
    <input type="radio" id="registered" name="businessStatus" value="REGISTERED">
    <label for="registered">REGISTERED</label><br>
    <input type="radio" id="unregistered" name="businessStatus" value="UNREGISTERED">
    <label for="unregistered">UNREGISTERED</label><br>
  
    <input type="submit" value="Submit">
  </form>
  
</div>