<div class="items-center max-w-4xl mx-auto px-6 my-12 lg:items-start lg:max-w-6xl">
    <form>
        <h3>BUSINESS OWNER’S INFORMATION</h3>
        
        <label for="ownerName">OWNER’S/CHAIRPERSON/PRESIDENT’S PROFILE:</label><br>
        <label for="prefix">PREFIX:</label>
        <input type="text" id="prefix" name="prefix">
        <label for="firstName">FIRST NAME:</label>
        <input type="text" id="firstName" name="firstName">
        <label for="middleName">MIDDLE NAME:</label>
        <input type="text" id="middleName" name="middleName">
        <label for="lastName">LAST NAME:</label>
        <input type="text" id="lastName" name="lastName">
        <label for="suffix">SUFFIX:</label>
        <input type="text" id="suffix" name="suffix">
        
        <label for="ownerDOB">OWNER'S DATE OF BIRTH:</label><br>
        <label for="ownerMonth">Month (MM):</label>
        <input type="text" id="ownerMonth" name="ownerMonth">
        <label for="ownerDay">Day (DD):</label>
        <input type="text" id="ownerDay" name="ownerDay">
        <label for="ownerYear">Year (yyyy):</label>
        <input type="text" id="ownerYear" name="ownerYear">
        
        <label for="ownerSex">SEX:</label><br>
        <input type="radio" id="maleSex" name="ownerSex" value="Male">
        <label for="maleSex">Male</label>
        <input type="radio" id="femaleSex" name="ownerSex" value="Female">
        <label for="femaleSex">Female</label>
        
        <label for="ownerCivilStatus">CIVIL STATUS:</label><br>
        <input type="radio" id="singleStatus" name="ownerCivilStatus" value="Single">
        <label for="singleStatus">Single</label>
        <input type="radio" id="widowedStatus" name="ownerCivilStatus" value="Widowed">
        <label for="widowedStatus">Widowed</label>
        <input type="radio" id="marriedStatus" name="ownerCivilStatus" value="Married">
        <label for="marriedStatus">Married</label>
        <input type="radio" id="legallySeparatedStatus" name="ownerCivilStatus" value="Legally Separated">
        <label for="legallySeparatedStatus">Legally Separated</label>
        
        <label for="ownerSocialClass">SOCIAL CLASSIFICATION:</label><br>
        <input type="checkbox" id="abled" name="ownerSocialClass" value="Abled">
        <label for="abled">Abled</label><br>
        <input type="checkbox" id="indigenousPerson" name="ownerSocialClass" value="Indigenous Person">
        <label for="indigenousPerson">Indigenous Person</label><br>
        <input type="checkbox" id="seniorCitizen" name="ownerSocialClass" value="Senior Citizen">
        <label for="seniorCitizen">Senior Citizen</label><br>
        <input type="checkbox" id="differentlyAbled" name="ownerSocialClass" value="Differently-Abled (PWD)">
        <label for="differentlyAbled">Differently-Abled (PWD)</label>
        
        <label for="ownerResidentialAddress">Owner’s Residential Address:</label><br>
        <label for="ownerHouseNo">House/Building No./Room & Floor No./Building Name:</label>
        <input type="text" id="ownerHouseNo" name="ownerHouseNo"><br>
        <label for="ownerStreet">Street Name:</label>
        <input type="text" id="ownerStreet" name="ownerStreet"><br>
        <label for="ownerBarangay">Barangay:</label>
        <input type="text" id="ownerBarangay" name="ownerBarangay"><br>
        <label for="ownerDistrict">District:</label>
        <input type="text" id="ownerDistrict" name="ownerDistrict"><br>
        <label for="ownerCity">City/Municipality:</label>
        <input type="text" id="ownerCity" name="ownerCity"><br>
        <label for="ownerProvince">Province:</label>
        <input type="text" id="ownerProvince" name="ownerProvince"><br>
        <label for="ownerRegion">Region:</label>
        <input type="text" id="ownerRegion" name="ownerRegion"><br>
        <label for="ownerZipCode">Zip Code:</label>
        <input type="text" id="ownerZipCode" name="ownerZipCode">
        
        <input type="submit" value="Submit">
      </form>
      
</div>