/* Advisory container */

.container-advisory > div {
    flex: 0 0 calc(25% - .9375rem);
  }

  @media (max-width: 1200px) {
    .container-advisory > div {
      flex: 0 0 calc(33.33% - .8334rem);
    }
  }

  @media (max-width: 768px) {
    .container-advisory > div {
      flex: 0 0 calc(50% - .625rem);
    }
  }

  @media (max-width: 576px) {
    .container-advisory > div {
      flex: 0 0 100%;
    }
  }


/* MSME Profile container */ 

  .container-msme_profile > div {
    flex: 0 0 calc(20% - 1rem);
  }

  @media (max-width: 1200px) {
    .container-msme_profile > div {
      flex: 0 0 calc(33.33% - .8334rem);
    }
  }

  @media (max-width: 768px) {
    .container-msme_profile > div {
      flex: 0 0 calc(50% - .625rem);
    }
  }

  @media (max-width: 576px) {
    .container-msme_profile > div {
      flex: 0 0 100%;
    }
  }



/* Navigation Menu Button */

.active {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.active .line-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.active .line-mid {
  display: none;
}

.active .line-btm {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}